@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>Welcome to the Cogensoft Snippet Manager! : )</p>

<p>Please visit one of the following pages:</p>

<ul>
    <li>@Html.ActionLink("Snippets", "Index", "snippets")</li>
</ul>

